
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fontstyle{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* In your CSS file (e.g., App.css or Dashboard.css) */
.chart-container {
  width: 100%;
  height: 400px; /* Or any other height you prefer */
}


.new{
  background-color: rgb(239, 229, 229);
}